-# edit.html.haml using partial

%h1 Edit Existing Movie

= form_tag movie_path(@movie), :method => :put do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date
<<<<<<< HEAD
  
  = label :movie, :director, 'Director'
  = text_field :movie, 'director'
=======
>>>>>>> 7db652a42842fd59df51be73c896aa0bd1feb5d7

  = submit_tag 'Update Movie Info'